* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

body > div{
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
}

button:hover {
    cursor: pointer;
}

.project {

    /* Agregar estilos para que todos los proyectos se vean iguales en cuanto a apariencia */
    border: 1px solid black;
    display: flex;
    flex-direction: column;

}

.add-todo {

    width: 100px;
    height: 100px;

}